{{ define "main" }}
{{ if .Params.enable }}
  <section class="section pt-2">
    <div class="container">
      <div class="row">
        <div class="md:col-10 lg:col-8 xl:col-6 mx-auto mb-12 text-center">
          <h2 class="mb-4">
            {{ .Title | markdownify }}
          </h2>
          <p>
            {{ .Params.description | markdownify }}
          </p>
        </div>
        <div class="grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3">
            {{ range .Params.services }}
              <div
                class="bg-theme-light dark:bg-darkmode-theme-light rounded-lg px-7 py-10">
                <div class="text-center space-y-5">
                  <h1 class="text-h4 lg:text-h5">{{ .name | markdownify }}</h1>
                    <p>{{ .content | markdownify }}</p>
                    <a href="{{ site.BaseURL }}{{ .link }}" class="btn btn-outline-primary btn-sm">{{ .label }}</a>
                </div>
              </div>
          {{ end }}
        </div>
      </div>
    </div>
  </section>
{{ end }}
{{ end }}
